/* */

body {background: #e4e2e3 url(../images/body-bg.png) repeat}

a {color:#08659e}
a:visited {color:#08659e}
a:hover {color:#08659e}

.main-navigation .current-menu-item a,
.main-navigation li:hover > a,
.main-navigation .current_page_item a {background: transparent url(../images/menu-bg-hover.png) 0 0 repeat}
.main-navigation ul.menu > li {font-weight: normal}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {font-family: "robotomedium"}

.e-breadcrumbs a:hover {text-decoration: underline}

article.post .entry-header h1.entry-title a {border-bottom: 1px dashed}
article.post .entry-header h1.entry-title a:hover {border-bottom: 1px solid}
article.post .entry-content > p {margin-bottom: 1em}
article.post .entry-header h1.entry-title,
article.hentry .entry-header h1.entry-title,
article.page .entry-header h1.entry-title {font-family: robotoblack}

#secondary .widget h3.widget-title {background: transparent url(../images/title-bg.png) 0 bottom repeat-x; font-size: 21px; margin-bottom: 0}
#secondary .widget ul li {font-size: 13px}
#secondary .widget ul li span.post-date {float: left; margin-right: 5px; text-align: right; color: #08659e}
#secondary .widget ul li span.date-title {font-size: 16px; font-family: "robotoregular"; font-style: italic; padding-top: 20px; display: inline-block}
#secondary .widget ul li span.date-title.first {padding-top: 0}

h1.block-title {background: url("../images/title-bg.png") repeat-x scroll 0 bottom transparent; font-size: 21px; color: #222222; margin: 20px 0; padding: 0; text-transform: uppercase; font-weight: 900; line-height: 1.3}
h1.block-title span {display: inline-block; padding: 0 0 10px}
h4.box-title, h3.box-title {font-family: "robotothin_italic"}
h4.box-title span, h3.box-title span {display: inline-block; border-bottom: 1px dashed #808080}
h3.box-title {font-size: 18px}
h4.box-title {font-size: 16px}

.site-branding h1.site-title.logo {font-size: 13px; text-transform: uppercase; font-family: "roboto_condensedregular"}

div#search-home-box {overflow: hidden; padding-bottom: 20px; margin-bottom: 30px}
div#search-home-box label {font-weight: normal}
/*div#search-home-box select {width: 90%}*/
div#search-home-box .box-params {padding-bottom: 10px; overflow: hidden}
div#search-home-box .box-params input {width: 40%; text-align: center; border: 1px solid #AAAAAA; padding: 2px 5px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0}
div#search-home-box .box-params.price input {width: 52%}
div#search-home-box .box-params.street input {width: 100%; text-align: left}

.extra-rubrics-box {overflow: hidden}
.extra-rubrics-box .col1,
.extra-rubrics-box .col2 {padding-left: 0}
.extra-rubrics-box h3 {margin: 0 0 20px}
.extra-rubrics-box h3.box-title img {margin: 0 10px 0 0}
.extra-rubrics-box h3.box-title a {color: #000000}
.extra-rubrics-box h3.box-title a:hover span {border-bottom-style: solid}
.extra-rubrics-box p {margin-bottom: 1em}
.extra-rubrics-box > div {margin-bottom: 2em}

.block {background:transparent url("../images/search-bg.png") 0 0 repeat; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; box-shadow: 0 0 3px 1px rgba(0,0,0,0.3); padding: 10px 5px}

button.box-button {border:1px solid #ffa200; background: transparent url("../images/btn-bg.png") 0 0 repeat-x; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #000000; text-transform: uppercase; padding: 12px 0; font-size: 14px; box-shadow: none; text-shadow: none}
button.box-button:hover {background-position-y: -42px}

#footer-adv-block {margin-top: 20px}
.sidebar-banner {margin:10px 0}
.line-separator {margin:5px auto; width: 95%; height: 5px; background: url("../images/title-bg.png") repeat-x scroll 0 bottom transparent;}
#footer-widgets {padding: 0}
.footer-links-block {min-height: 80px; margin-top: 20px}
.footer-links {padding-top: 16px}
.footer-links a {color: #08659e}
.footer-links ul {list-style: none; margin: 0; padding: 0}
.footer-links li {margin: 0; padding: 0; position: relative; float: left}
.footer-links li a {margin: 0; padding: 0 8px}
.footer-links li a:hover {text-decoration: underline}
.footer-links li:first-child a {padding-left: 0}
.footer-links li:last-child a {padding-right: 0}
.footer-links .menu {display: block; overflow: hidden}
.site-footer {background-color: transparent; border: 0; min-height: 127px}
.site-footer .site-info {padding: 0; color: #000000}
.site-footer .site-info a {color: #08659e}

/* Объекты недвижимости */
.estate-objects {list-style: none; margin: -20px 0 0; padding: 0}
.estate-objects .object {border-bottom: 1px dotted #777777}
.estate-objects .object td {vertical-align: top; padding: 18px 0 5px}
.estate-objects .object td.sep {padding: 5px 0; border-top: 1px dashed #333}
.estate-objects .object .foto {padding-right: 20px}
.estate-objects .object .foto img {width: auto; height: auto; max-width: none}
.estate-objects .object .info {font-size: 14px; color: #000000}
.estate-objects .object .info > a:hover {text-decoration: underline}
.estate-objects .object .info .map-mark {position: absolute; top: -26px; right: 6px; display: block; padding: 2px 26px 0 0; height: 28px; background: transparent url("../images/map.png") 100% 0 no-repeat}
.estate-objects .object .info .map-mark a {font-family: "robotolight_italic"; font-size: 12px}
.estate-objects .object .info h4 {margin: 0 0 10px; font-size: 18px; font-weight: normal; font-family: "robotomedium"}
.estate-objects .object .info p {margin: 0 0 5px; padding-left: 134px; position: relative; font-family: "robotothin"}
.estate-objects .object .info p span {width: 134px; margin-left: -134px; display: inline-block; font-family: "robotoregular"}

.select-box {padding: 0; margin: 0; border: 1px solid #AAAAAA; overflow: hidden; background: #fff url("../images/sb-down.gif") no-repeat 100% 0}
.select-box select {padding: 1px 0 1px 8px; width: 100%; border: none; box-shadow: none; background: transparent none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.select-box select:focus {outline: none}
.select-box.w2, .select-box.w2 select {width: 260px}
.select-box.w3, .select-box.w3 select {width: 90px}
.select-box.w4, .select-box.w4 select {width: 60px}

.select-label {display: block; height: 30px; vertical-align: middle; float: left; line-height: 1.9}

.checkbox-box {}
.checkbox-box input[type="checkbox"] {display:none}
.checkbox-box input[type="checkbox"] + label {cursor:pointer}
.checkbox-box input[type="checkbox"] + label span {display:inline-block; width:17px; height:15px; margin:0; vertical-align:middle; background:url(../images/checkbox1.jpg) left 0 no-repeat; cursor:pointer}
.checkbox-box input[type="checkbox"]:checked + label span {background-image:url(../images/checkbox2.jpg)}

.select-regions-box .checkbox-box #estateDistrictCity + label,
.select-regions-box .checkbox-box #estateDistrictArea + label {color:#08659e; border-bottom: 1px dashed #08659e}

table.paginator {border-collapse: collapse; border: 0px solid #e4e4e4; width: auto; margin: 5px 0}
table.paginator td {border: 1px solid #e4e4e4; width: 28px; height: 28px; text-align: center; vertical-align: middle; padding: 0}
table.paginator td a {display: block; width: 28px; height: 28px; color: #000000}
table.paginator td a.active,
table.paginator td a:hover {background-color: #ffb434}
table.paginator td.arrows {border: 1px solid transparent; background-color: transparent}
table.paginator td.arrows.back {border-right: 1px solid #e4e4e4}
table.paginator td.arrows a {width: 8px; height: 13px; margin: 0 auto; background: transparent url(../images/page-arrows.png) 0 0 no-repeat}
table.paginator td.arrows a:hover {background-color: transparent}
table.paginator td.arrows.back a {background-position: 0 -13px}
table.paginator td.arrows.back a:hover {background-position: 0 0}
table.paginator td.arrows.fwd a {background-position: -8px -13px}
table.paginator td.arrows.fwd a:hover {background-position: -8px 0}

.paginator-box > tr > td > a:hover {text-decoration: underline}
.select-regions-box .col-md-6 {padding-left: 0}

.col-md-4.object-photos {padding-left: 0}
.col-md-8.object-info {padding-right: 0}
.object-info > div {overflow: hidden; padding-bottom: 5px}
.object-info > div:nth-child(odd) {background-color: #f2f2f2}
.object-info .col-md-4 {padding: 0 5px 0 10px}
.object-info .col-md-8 {padding: 0 10px 0 5px}
.object-info .col-md-8 .sub-info {overflow: hidden}
.object-info .col-md-8 .sub-info .col-md-3 {padding-left: 0}
.object-info .col-md-8 .sub-info .col-md-9 {padding-right: 0}
.object-photos #map {width: 100%; height: 300px;overflow: hidden}
.object-photos #main-photo {width: 100%; height: auto; margin: 0 0 20px}
.object-photos #additional-photos {margin-bottom: 20px; overflow: hidden}
.object-photos #additional-photos > div {float: left; overflow: hidden; width: 145px; min-height: 135px}
.object-photos #additional-photos > div:nth-child(odd) {margin-right: 25px}
.highslide img {border: 0}
.post-thumbnail.first img {margin-left: 0}
.post-thumbnail img {margin-left: 10px; margin-bottom: 10px; width: 100px; height: 100px}
.main-article-image {margin-bottom: 10px}
header .site-branding .informer {margin-top: 20px; overflow: hidden; font-size: 12px}
header .site-branding .informer div {margin-right: 12px; float: left; overflow: hidden; box-sizing: unset; -moz-box-sizing: unset; -webkit-box-sizing: unset}
header .site-branding .informer div:after {box-sizing: unset; -moz-box-sizing: unset; -webkit-box-sizing: unset}
.fb-like {margin:10px auto; width: 100%; overflow: inherit !important;}
.fb-like > span {width: 100% !important;}
